// To change odoo community theme color

$o-community-color: #17479e;
$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;
$oe_login_buttons: #17479e;


// .o_main_navbar > ul > li > a {
//     background-color: #374fd8 !important;
//  }